/* Reset body padding and margins */
body { 
    background-image:url('https://68.media.tumblr.com/2f5a50f77e5b37cbe7ebb5bc7dd2b07e/tumblr_oc179guY3d1uzg32xo1_1280.png');
    margin:0; 
    padding:0; 
    background-attachment: fixed;
    background-position: top;
    }

#content-1 {
    font-family: Arial;
    font-size: 550%;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 40px;
    padding-left: 125px;
    padding-right: 125px;
}

.content-2 {
    text-align:center;
    font-family: Arial;
    font-size: 150%;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;

}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#footer {
    margin:0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
    width:25%;
    }

#footer_container {
    font-family: Arial;
    line-height:2em;
    text-align:left;
    height: 230px;
    background-color: #262626;
    width:100%;
    position: relative;
    color: white;
    }
 
/* Make Header Sticky */
#header_container { 
    left:0;  
    width:100%; 
    top:0; 
    padding-top: 10px;
    padding-bottom: 10px;   
    }
    
#header{
    /*yellow*/
    margin:0 auto; 
    text-align:center;
    height: 121px;
    display:inline;
    float:left;
    width:100%;
    }
 
#nav
 {
    width:100%;
    height:50px;
    position:fixed;
    margin-left: auto;
    margin-right: auto;
    text-align:right;
}

.title {
    padding: 10px;
}

a
{
    display:inline-block;
    padding-bottom: 12px;   
}

span {
    padding-bottom: 12px;   
}

ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    display:inline;
    width:500px;
    list-style-type: none;
    margin-left:auto;
    margin-right:auto;  
}

li{
    float:center;
    padding: 5px;
    display: inline;
}


td{
    padding-left: 10px;
    padding-right: 10px;
}

th{
    padding-left: 10px;
    padding-right: 10px;
}

.wrap {
  width: 960px;
  margin: 0 auto;
}

.container {
  position:relative;
}

#menu {
  position:relative;
  height: 45px;
}